$primary   : #FFFFFF;
$secondary : #F5F5F7;
$accent    : #020202;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #71B565;
$negative  : #E31E24;
$info      : #31CCEC;
$warning   : #F2C037;

$grey: #B7B7B7;
